<app-navbar></app-navbar>

<header>
  <div class="grad d-flex justify-content-center align-items-center text-white" >
    <div class="text-center">
      <h2 class=" text fs-4">Discover The <span class="fs-2 text-danger">Evaluation</span>  Of SportsWear</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam maxime facere cumque harum quas deleniti corrupti, sint exercitationem ad soluta!</p>
      <a routerLink="/products">
          <button class="bttn text-white"> Shop Now</button>
      </a>
    </div>
  </div>
</header>

<div id="serv" class="services hover bg-light text-center bord">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 d-flex justify-content-center align-items-center mb-sm-5 ">
        <div class="const-title ">
          <h3 class="title-a pt-xl-4 mt-5 ">Our <span class="">Features</span> </h3>
          <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, alias!</p>
          <div class="line"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6 mb-sm-5 ">
        <div class="card ">
          <div class="icon mt-sm-2 mb-xl-3">
            <img src="././assets/header.jpg" class="" alt="">
          </div>
          <h3 class="s-title mt-sm-3">SportsWear && Tools</h3>
          <p class="subtitle-a px-xl-3 text-muted"> Lorem, Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Deserunt, Earum! .</p>
          <a >
            <button class="bttn mb-3"> Read More</button>
        </a>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 mb-sm-3 ">
        <div class="card ">
          <div class="icon  mt-xl-2  mb-xl-3">
            <img src="././assets/feature-img-2.png" class="" alt="">
          </div>
          <h3 class="s-title mt-sm-3">Free Delivery</h3>
          <p class="subtitle-a px-xl-3 text-muted"> Lorem, Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Deserunt, Earum! .</p>
          <a >
            <button class="bttn mb-3"> Read More</button>
        </a>
        </div>
      </div>

      <div class="col-xl-4 col-md-6  mb-sm-3">
        <div class="card ">
          <div class="icon  mt-xl-2  mb-xl-3">
            <img src="././assets/feature-img-3.png" class="" alt="">
          </div>
          <h3 class="s-title mt-sm-3">Easy payments</h3>
          <p class="subtitle-a px-xl-3 text-muted"> Lorem, Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Deserunt, Earum! .</p>
          <a >
            <button class="bttn mb-3"> Read More</button>
        </a>
        </div>
      </div>

    </div>
  </div>
</div>



<div id="serv" class="services bg-light text-center bord">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 d-flex justify-content-center align-items-center ">
        <div class="const-title">
          <h3 class="title-a pt-xl-4 mt-5">Products <span class="">Categories</span> </h3>
          <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, alias!</p>

          <div class="line mb-md-3"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-md-6  mb-sm-3 ">
        <div class="card my-xl-5">
          <div class="icon mt-sm-2 mt-xl-2  mb-xl-3">
            <img src="././assets/nike.jpg" class="rounded-2" alt="">
          </div>
          <h3 class="s-title mt-sm-3">Sportswear</h3>
          <p class="subtitle-a px-xl-3 text-muted">Upto 45% Off .</p>
          <a  routerLink="/products">
            <button class="bttn mb-3">Shop Now</button>
        </a>
        </div>
      </div>
      <div class="col-xl-3 col-md-6  mb-sm-5 ">
        <div class="card my-xl-5">
          <div class="icon mt-sm-2 mt-xl-2  mb-xl-3">
            <img src="././assets/ah.webp" class="rounded-2" alt="">
          </div>
          <h3 class="s-title mt-sm-3">Clups Flag</h3>
          <p class="subtitle-a px-xl-3 text-muted">Upto 45% Off .</p>
          <a routerLink="/products" >
            <button class="bttn mb-3">Shop Now</button>
        </a>
        </div>
      </div>

      <div class="col-xl-3 col-md-6  mb-sm-5 ">
        <div class="card my-xl-5">
          <div class="icon mt-sm-2 mt-xl-2  mb-xl-3">
            <img src="././assets/adidoushoe.jpg">
          </div>
          <h3 class="s-title mt-sm-3">Sports shoe</h3>
          <p class="subtitle-a px-xl-3 text-muted">Upto 45% Off .</p>
          <a routerLink="/products">
            <button class="bttn mb-3">Shop Now</button>
        </a>
        </div>
      </div>

      <div class="col-xl-3 col-md-6  mb-sm-5 ">
        <div class="card my-xl-5 ">
          <div class="icon mt-sm-2 mt-xl-2  mb-xl-3">
            <img src="././assets/acc.jpg" class="" alt="">
          </div>
          <h3 class="s-title mt-sm-3">accessories</h3>
          <p class="subtitle-a px-xl-3 text-muted">Upto 45% Off .</p>
          <a routerLink="/products">
            <button class="bttn mb-3">Shop Now</button>
        </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="serv1" class="services bg-light text-center bord">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 d-flex justify-content-center align-items-center ">
        <div class="const-title">
          <h3 class="title-a pt-xl-4 mt-5 ">Customer's <span class="">Review</span> </h3>
          <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, alias!</p>

          <div class="line mb-md-3"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-md-6  mb-sm-3 ">
        <div class="card my-xl-5">
          <div class=" mt-sm-5 mt-xl-5  mb-xl-3">
            <img src="././assets/2.jpg" class="rounded-circle w-100" alt="">
          </div>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor error illum eaque, itaque eius placeat!</p>
          <h3 class="s-title">John Deo</h3>

        </div>
      </div>


      <div class="col-xl-3 col-md-6  mb-sm-5 ">
        <div class="card my-xl-5">
          <div class="mt-sm-5 mt-xl-5 mb-xl-3">
            <img src="././assets/3.jpg" class="rounded-circle w-100" alt="">
          </div>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor error illum eaque, itaque eius placeat!</p>
          <h3 class="s-title">Triple H</h3>
        </div>
      </div>

      <div class="col-xl-3 col-md-6  mb-sm-5 ">
        <div class="card my-xl-5">
          <div class=" mt-sm-5 mt-xl-5  mb-xl-3">
            <img src="././assets/testimonial-2.jpg" class="rounded-circle w-100" alt="">
          </div>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor error illum eaque, itaque eius placeat!</p>
          <h3 class="s-title">juegen </h3>

        </div>
      </div>

      <div class="col-xl-3 col-md-6   mb-sm-5">
        <div class="card my-xl-5">
          <div class=" mt-sm-5 mt-xl-5  mb-xl-3">
            <img src="././assets/testimonial-4.jpg" class="rounded-circle w-100" alt="">
          </div>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor error illum eaque, itaque eius placeat!</p>
          <h3 class="s-title">Tokyo</h3>

        </div>
      </div>

    </div>
  </div>
</div>

<div id="serv3" class="services bg-light  bord">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 d-flex justify-content-center align-items-center ">
        <div class="const-title blog">
          <h3 class="title-a pt-xl-4 ">Our <span class="">Blogs</span> </h3>
          <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, alias!</p>

          <div class="line "></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6 ">
        <div class="card2 my-xl-5">
          <div class="icon   mb-xl-3">
            <img src="././assets/test.jpg" class="w-100" alt="">
          </div>
          <div class="d-flex ms-3 me-3 br pos">
              <div class="d-flex ">
                <i class="fa-solid fa-user me-1 mt-1"></i>
                <p>By User</p>
              </div>

              <div class="d-flex ms-auto  ">
                <i class="fa-solid fa-calendar-days  mt-1 me-1"></i>
                <p>1st May, 2021</p>
              </div>

          </div>
          <h3 class="s-title mt-sm-3">Sports Wear</h3>
          <p class="subtitle-a px-xl-3 text-muted"> Lorem, Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Deserunt, Earum! .</p>
          <a class="ms-4">
            <button class="bttn mb-3"> Read More</button>
          </a>
        </div>
      </div>

      <div class="col-xl-4 col-md-6   ">
        <div class="card2 my-xl-5">
          <div class="icon   mb-xl-3">
            <img src="././assets/stades-2.jpg" class="w-100" alt="">
          </div>
          <div class="d-flex ms-3 me-3 br pos">
              <div class="d-flex">
                <i class="fa-solid fa-user me-1 mt-1"></i>
                <p>By User</p>
              </div>

              <div class="d-flex ms-auto  ">
                <i class="fa-solid fa-calendar-days  mt-1 me-1"></i>
                <p>1st May, 2021</p>
              </div>

          </div>
          <h3 class="s-title mt-sm-3">Sports Shoe && Running Shoe</h3>
          <p class="subtitle-a px-xl-3 text-muted"> Lorem, Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Deserunt, Earum! .</p>
          <a class="ms-4">
            <button class="bttn mb-3"> Read More</button>
          </a>
        </div>
      </div>

      <div class="col-xl-4 col-md-6   ">
        <div class="card2 my-xl-5">
          <div class="icon   mb-xl-3">
            <img src="././assets/egypt-flag.jpg" class="w-100" alt="">
          </div>
          <div class="d-flex ms-3 me-3 br pos" >
              <div class="d-flex">
                <i class="fa-solid fa-user me-1 mt-1"></i>
                <p>By User</p>
              </div>

              <div class="d-flex ms-auto  ">
                <i class="fa-solid fa-calendar-days  mt-1 me-1"></i>
                <p>1st May, 2021</p>
              </div>

          </div>
          <h3 class="s-title mt-sm-3">Flag For Clups && National Team</h3>
          <p class="subtitle-a px-xl-3 text-muted"> Lorem, Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Deserunt, Earum! .</p>
          <a class="ms-4">
            <button class="bttn mb-3"> Read More</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="pb-5">
  <div class="container footer">
    <div class="row">
      <div class="col-md-3 mt-5 ">
        <h5> <i class="fa-solid fa-futbol text-danger"></i> Mo-sports</h5>
        <p class="text-muted">Lorem Ipsum Dolor, Sit Amet Consectetur Adipisicing Elit. Aliquam, Saepe.</p>
        <a href="https://www.facebook.com/profile.php?id=100009866701546"><i class="fa-brands fa-facebook-f style"></i></a>
        <a href="https://twitter.com/MEbrahrem"><i class="fa-brands fa-twitter ms-3 style"></i></a>
        <a href="https://www.instagram.com/mohammedebrahiiim/"><i class="fa-brands fa-instagram  ms-3 style"></i></a>
        <a href="https://www.linkedin.com/in/mohamed-abdelazez-a87075193/"><i class="fa-brands fa-linkedin  ms-3 style"></i></a>
      </div>

      <div class="col-md-3 mt-5">
        <h5 class="ms-4"> Quick Links </h5>
        <ul>
          <li> <i class="fa-solid fa-arrow-right-long"></i> Home</li>
          <li> <i class="fa-solid fa-arrow-right-long"></i> Features</li>
          <li> <i class="fa-solid fa-arrow-right-long"></i> Catigories</li>
          <li> <i class="fa-solid fa-arrow-right-long"></i> Revirew</li>
          <li> <i class="fa-solid fa-arrow-right-long"></i> Blogs</li>
        </ul>
      </div>

      <div class="col-md-3 mt-5">
        <h5 class="ms-4">Contact Info</h5>
        <ul >
          <li> <i class="fa-solid fa-phone-flip"></i> <span class="text-muted"> +201125654410</span> </li>
          <li> <i class="fa-solid fa-envelope"></i> <span class="text-muted" >  mohammed.ebraahiiim@gmail.com</span></li>
          <li> <i class="fa-solid fa-location-pin me-2"></i> <span class="text-muted"> Egypt , Elgharbia , zifta</span> </li>
        </ul>
      </div>

      <div class="col-md-3 mt-5">
        <h5>Newsletter</h5>
        <p class="text-muted"> Subscribe For Latest Updates </p>
        <input type="email" class="form-control" placeholder="Your Email">
        <a >
          <button class="bttn mt-4"> Subscripe</button>
        </a>
      </div>
    </div>
  </div>
  <div class="text-center mt-3 mb-5">
    <p>Created By <span class="text-danger fs-5"> Mohamed Ibrahim </span>  | All Rights Reserved | © 2022</p>
  </div>

</footer>

